#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.Centerer
{
  text-align: center;
}

.Long
{
  width: 80%;
}

.Short
{
  width: 20%;
}

.WalterWhiter
{
  background-color: white;
  color: black;
  overflow-y: auto;
  height: 100px;
}

.Flexer
{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: fit-content;
}